@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer utilities {
  .bg-gray-750 {
    background-color: #2d374d;
  }
  
  .bg-gray-850 {
    background-color: #1a2234;
  }
}